.inter-font {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-style: normal;
}

input[type='radio']:focus {
  background-color: #15803d;
  color: white;
}

.tab {
  text-align: left;
}

.btn {
  text-align: left !important;
}

.selected{
  background: #15803D;
  color: white;
}